body{
    font-size: 18px;
    @media (max-width: 2159px){
        font-size: 16px;
    }
    @media (max-width: 1440px){
        font-size: 14px;
    }
    @media (max-width: 1040px){
        font-size: 12px;
    }
    @media (max-width: 900px){
        font-size: 10px;
    }
}
p{
    color: white;
}


.note{
    position: relative;
    width: 100vw;
    height: 100vh;  
    max-width: 100vw;
    background-color: black;
    & &__menu{
        position: absolute;
        right: 1em;
        top: 1em;
        width: 2em;
        height: 2em;
        background-color: antiquewhite;
        & &--button{
            
        }
    }
    & &__main{
        
    }
}