body {
  font-size: 18px;
}
@media (max-width: 2159px) {
  body {
    font-size: 16px;
  }
}
@media (max-width: 1440px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 1040px) {
  body {
    font-size: 12px;
  }
}
@media (max-width: 900px) {
  body {
    font-size: 10px;
  }
}

p {
  color: white;
}

.note {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  background-color: black;
}
.note .note__menu {
  position: fixed;
  right: 1em;
  top: 1em;
  width: 2em;
  height: 2em;
}
.note .note__menu .note__menu--button {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: rgb(71, 71, 71);
}
.note .note__menu .note__menu--button span {
  position: absolute;
  width: 100%;
  height: 0.3em;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease-in;
}
.note .note__menu .note__menu--button span:nth-child(1) {
  top: 0px;
}
.note .note__menu .note__menu--button span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.note .note__menu .note__menu--button span:nth-child(3) {
  bottom: 0px;
}
.note .note__menu .note__menu--main {
  position: absolute;
  top: 3em;
  right: 0px;
  width: 20em;
  height: auto;
  min-height: 50vh;
  background-color: rgb(71, 71, 71);
  border-radius: 1em 0em 0em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 20px;
}
.note .note__menu .note__menu--main .main__item {
  width: 80%;
}
.note .note__menu .note__menu--main .main__item p {
  padding: 0.5em 0px;
}
.acctive__span1 {
  animation: button-menu-span1 0.2s ease-in forwards;
}

.acctive__span2 {
  animation: button-menu-span2 0.2s ease-in forwards;
}

.acctive__span3 {
  animation: button-menu-span3 0.2s ease-in forwards;
}

.unacctive__span1 {
  animation: unbutton-menu-span1 0.2s ease-in forwards;
}

.unacctive__span2 {
  animation: unbutton-menu-span2 0.2s ease-in forwards;
}

.unacctive__span3 {
  animation: unbutton-menu-span3 0.2s ease-in forwards;
}

@keyframes button-menu-span1 {
  0% {
    top: 0px;
  }
  50% {
    top: 50%;
    transform: translateY(-50%);
  }
  100% {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
}
@keyframes unbutton-menu-span1 {
  0% {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  50% {
    top: 50%;
    transform: translateY(-50%);
  }
  100% {
    top: 0px;
    transform: none;
  }
}
@keyframes button-menu-span2 {
  0% {
    top: 0px;
  }
  50% {
    top: 50%;
    transform: translateY(-50%);
  }
  100% {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}
@keyframes unbutton-menu-span2 {
  0% {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  50% {
    top: 50%;
    transform: translateY(-50%);
  }
  100% {
    bottom: 0px;
    transform: none;
  }
}
@keyframes button-menu-span3 {
  0% {
    display: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes unbutton-menu-span3 {
  0% {
    display: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
