body{
    font-size: 18px;
    @media (max-width: 2159px){
        font-size: 16px;
    }
    @media (max-width: 1440px){
        font-size: 14px;
    }
    @media (max-width: 1040px){
        font-size: 12px;
    }
    @media (max-width: 900px){
        font-size: 10px;
    }
}
p{
    color: white;
}


.note{
    position: relative;
    width: 100vw;
    height: 100vh;  
    max-width: 100vw;
    background-image: linear-gradient(to bottom right, rgb(92, 91, 91), black);
    & .note__menu{
        position: absolute;
        right: 1em;
        top: 1em;
        width: 2em;
        height: 2em;
        cursor: pointer;
        & .note__menu--button{
            width: 100%;
            height: 100%;
            position: relative;
            background-color: rgb(71, 71, 71);
            span{
                position: absolute;
                width: 100%;
                height: .3em;
                background-color: rgb(255, 255, 255);
                transition: all .3s ease-in;
                &:nth-child(1){
                    top: 0px;
                }
                &:nth-child(2){
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:nth-child(3){
                    bottom: 0px;
                }
            }
        }
        & .note__menu--main{
            position: absolute;
            top: 3em;
            right: 0px;
            width: 0em;
            max-height: 70vh;
            background-color: rgb(71, 71, 71);
            border-radius: 1em 0em 0em 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            padding-top: 20px;
            padding-bottom: 20px;
            overflow-y: scroll;
            overflow-x: hidden;
            &::-webkit-scrollbar {
                width: .5em;          
            }
            &::-webkit-scrollbar-track {
                background: #f0f0f0;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background: #000000;
                border-radius: 10px;
            }
            .main__item{
                width: 80%;
                cursor: pointer;
                p{
                    padding: .5em 0px;
                    white-space: nowrap;
                }
            }
        }
    }
    & .note__main{
        // position: absolute;

        
    }
}
.input{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    visibility: hidden;
    background-image: linear-gradient(to bottom right, rgba(92, 91, 91, 0.473), rgba(0, 0, 0, 0.411));
    .input__box{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20em;
        height: 4em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .input__box--text{
            width: 100%;
            height: 1.3em;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            input{
                border-radius: 1em;
                outline: 1px solid white;
                border: none;
                height: 100%;
                width: 90%;
                text-align: center;
            }
        }
        .input__box--button{
            width: 100%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            overflow: hidden;
            p{
                width: 20%;
                cursor: pointer;
                font-size: 1em;
                background-image: linear-gradient(to bottom right, rgb(214, 211, 205), rgb(236, 199, 113));
                text-align: center;
                padding: 5px 20px;
                border-radius: 100000000px;
                color: black;
                white-space: nowrap;
            }
        }
    }
}
.input__active{
    animation: input-anim .2s ease-in forwards;
}
.uninput__active{
    animation: uninput-anim .2s ease-in forwards;
}

.acctive__span1{
    animation: button-menu-span1 .2s ease-in forwards;
}
.acctive__span2{
    animation: button-menu-span2 .2s ease-in forwards;
}
.acctive__span3{
    animation: button-menu-span3 .2s ease-in forwards;
}
.unacctive__span1{
    animation: unbutton-menu-span1 .2s ease-in forwards;
}
.unacctive__span2{
    animation: unbutton-menu-span2 .2s ease-in forwards;
}
.unacctive__span3{
    animation: unbutton-menu-span3 .2s ease-in forwards;
}

.menu__animation{
    animation: menuanim .2s ease-in forwards;
}
.unmenu__animation{
    animation: unmenuanim .2s ease-in forwards;
}

.input__menu{
    animation: input-menu-anim .2s ease-in forwards;
}
.uninput__menu{
    animation: uninput-menu-anim .2s ease-in forwards;
}

@keyframes button-menu-span1 {
    0% {
        top: 0px
    }
    50%{
        top: 50%;
        transform: translateY(-50%);
    }
    100% { 
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
}
@keyframes unbutton-menu-span1 {
    0% {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    50%{
        top: 50%;
        transform: translateY(-50%);
    }
    100% { 
        top: 0px;
        transform: none;
    }
}
@keyframes button-menu-span2 {
    0% {
        top: 0px
    }
    50%{
        top: 50%;
        transform: translateY(-50%);
    }
    100% { 
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }
}
@keyframes unbutton-menu-span2 {
    0% {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    50%{
        top: 50%;
        transform: translateY(-50%);
    }
    100% { 
        bottom: 0px;
        transform: none;
    }
}
@keyframes button-menu-span3 {
    0% {
        display: 1;
    }
    100% { 
        opacity: 0;
    }
}
@keyframes unbutton-menu-span3 {
    0% {
        display: 0;
    }
    100% { 
        opacity: 1;
    }
}

@keyframes menuanim{
    0% {
        width: 0em;
    }
    100% { 
        width: 20em;
    }
}
@keyframes unmenuanim{
    0% {
        width: 20em;
    }
    100% { 
        width: 0em;
    }
}

@keyframes input-menu-anim{
    0% {
        width: 0em;
    }
    100% { 
        width: 20em;
    }
}
@keyframes uninput-menu-anim{
    0% {
        width: 20em;
    }
    100% { 
        width: 0em;
    }
}

@keyframes input-anim{
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% { 
        opacity: 1;
        visibility: visible;
    }
}
@keyframes uninput-anim{
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% { 
        opacity: 0;
        visibility: hidden;
    }
}
